<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
    <p>Volné bakalářské práce z <a href="http://www.inf.upol.cz/studium/bakalarske-prace">http://www.inf.upol.cz/studium/bakalarske-prace</a></p>
    <p>
      <%- body %>
    </p>
  </body>
</html>
